<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <nav>
            <a href="/">Início</a> |
            <a href="/sobre">Sobre</a> |
            <a href="/contato">Contato</a>
        </nav>
    </header>
    <main>
